/*===== HOME =====*/
.home{
    background-color: #242F9B;
    overflow: hidden;
    &__container{
        position: relative;
        height: calc(100vh - var(--header-height));
        grid-template-rows: repeat(2, max-content);
        align-content: space-around;
        row-gap: 2rem;
    }
    &__data{
        border-left: 4px solid var(--first-color-lighten);
        color: var(--first-color-lighten);
        padding-left: 1.5rem;
        z-index: var(--z-tooltip);
    }
    &__name{
        font-size: 3.8rem;
        display: block;
        font-weight: normal;
    }
    &__greeting,
    &__profession{
        display: block;
        font-weight: var(--font-bold);
    }
    &__greeting{
        font-size: 1.6rem;
    }
    &__profession{
        font-size: 1.8rem;
        margin-bottom: var(--mb-3);
    }
    &__img{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__img img{
        width: 240px;
    }
    &__social{
        display: flex;
        flex-direction: column;
    }
    &__social-icon{
        width: max-content;
        font-size: 2rem;
        margin-bottom: var(--mb-2);
        color: var(--first-color-lighten);
    }
    &__social-icon:hover{
        color: var(--first-color-light);
    }
}
